@import url(../css/all.css);

#banner {
    background-image: url(../images/banner-books.jpg);
}

#banner nav ul a {
    border-color: greenyellow;
}

#banner nav ul a li{
    color: yellowgreen;
}

#banner nav {
    background-color: rgba(255, 94, 0, 0.8);
}

#logo h1 {
    color: yellowgreen;
}

#topic {
    color: yellowgreen;
}