.pokemon-info-window {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    justify-content: space-between;
}

.pokemon-info-window .info-container {
    display: flex;
    flex-flow: row;
}

.pokemon-info-window h2 {
    text-align: center;
    font-size: 3rem;
}

.pokemon-info-window img {
    width: 30%;
}
